n8n-workflows/3-contact-form-notification.json
{
  "name": "LUXE - Contact Form → Admin Notify + Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (Contact Form)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "luxe-contact"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body.data;\n\nconst adminHtml = `<!DOCTYPE html>\n<html><body style=\"margin:0;padding:0;background:#fafaf8;font-family:'Inter',-apple-system,sans-serif;color:#0a0a0a;\">\n  <div style=\"max-width:560px;margin:0 auto;padding:32px 20px;\">\n    <div style=\"font-size:24px;font-weight:600;margin-bottom:24px;\">LUXE<span style=\"color:#b9e30f;\">.</span> Admin</div>\n    \n    <div style=\"background:#fff3e0;padding:16px 20px;border-radius:8px;margin-bottom:24px;\">\n      <div style=\"font-family:monospace;font-size:11px;letter-spacing:0.06em;text-transform:uppercase;color:#e65100;\">NEW CONTACT FORM SUBMISSION</div>\n    </div>\n\n    <h2 style=\"margin:0 0 16px;\">{{ $json.subject }}</h2>\n    \n    <table style=\"width:100%;font-size:14px;margin-bottom:24px;\">\n      <tr><td style=\"padding:4px 0;color:#2b2b28;\"><strong>Name</strong></td><td style=\"padding:4px 0;\">${data.name}</td></tr>\n      <tr><td style=\"padding:4px 0;color:#2b2b28;\"><strong>Email</strong></td><td style=\"padding:4px 0;\"><a href=\"mailto:${data.email}\">${data.email}</a></td></tr>\n      <tr><td style=\"padding:4px 0;color:#2b2b28;\"><strong>Subject</strong></td><td style=\"padding:4px 0;\">${data.subject}</td></tr>\n      <tr><td style=\"padding:4px 0;color:#2b2b28;\"><strong>Time</strong></td><td style=\"padding:4px 0;\">${data.submittedAt}</td></tr>\n    </table>\n\n    <div style=\"background:#f3f1ea;padding:16px;border-radius:8px;margin-bottom:24px;\">\n      <div style=\"font-family:monospace;font-size:11px;letter-spacing:0.06em;text-transform:uppercase;color:#2b2b28;margin-bottom:8px;\">MESSAGE</div>\n      <p style=\"margin:0;line-height:1.6;white-space:pre-wrap;\">${data.message}</p>\n    </div>\n\n    <a href=\"mailto:${data.email}?subject=Re: ${data.subject}\" style=\"display:inline-block;background:#0a0a0a;color:#fafaf8;padding:12px 24px;border-radius:100px;text-decoration:none;\">Reply via Email →</a>\n  </div>\n</body></html>`;\n\nconst autoReplyHtml = `<!DOCTYPE html>\n<html><body style=\"margin:0;padding:0;background:#fafaf8;font-family:'Inter',-apple-system,sans-serif;color:#0a0a0a;\">\n  <div style=\"max-width:560px;margin:0 auto;padding:32px 20px;\">\n    <div style=\"font-family:'Fraunces',Georgia,serif;font-size:24px;font-weight:600;margin-bottom:24px;\">LUXE<span style=\"color:#b9e30f;\">.</span></div>\n    \n    <h1 style=\"font-family:'Fraunces',Georgia,serif;font-size:28px;font-weight:500;margin:0 0 16px;\">Thanks for reaching out, ${data.name.split(' ')[0]}!</h1>\n    <p style=\"margin:0 0 16px;color:#2b2b28;font-size:15px;line-height:1.6;\">\n      We've received your message and will get back to you within 24 hours. In the meantime, here are some quick links that might help:\n    </p>\n    <ul style=\"margin:0 0 24px;padding-left:20px;color:#2b2b28;font-size:14px;line-height:2;\">\n      <li><a href=\"https://luxe-ruby-delta.vercel.app/shop\" style=\"color:#0a0a0a;\">Browse our products</a></li>\n      <li><a href=\"https://luxe-ruby-delta.vercel.app/shipping\" style=\"color:#0a0a0a;\">Shipping information</a></li>\n      <li><a href=\"https://luxe-ruby-delta.vercel.app/returns\" style=\"color:#0a0a0a;\">Returns &amp; refunds</a></li>\n    </ul>\n    <p style=\"color:#2b2b28;font-size:14px;\">Talk soon,<br><strong>The LUXE team</strong></p>\n    <hr style=\"border:none;border-top:1px solid #e4e1d6;margin:32px 0;\">\n    <p style=\"font-size:12px;color:#2b2b28;margin:0;\">LUXE Cosmetics<br>42 Galle Face Road, Colombo 03, Sri Lanka</p>\n  </div>\n</body></html>`;\n\nreturn [{ json: { \n  ...data, \n  adminHtml, \n  autoReplyHtml,\n  adminSubject: `[LUXE Contact] ${data.subject} - from ${data.name}`,\n  autoReplySubject: 'We received your message!' \n} }];"
      },
      "id": "build-emails",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@luxe.local",
        "toEmail": "admin@luxe.local",
        "subject": "={{ $json.adminSubject }}",
        "html": "={{ $json.adminHtml }}",
        "options": {}
      },
      "id": "email-admin",
      "name": "Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [690, 180],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Your SMTP"
        }
      },
      "notes": "Change 'admin@luxe.local' to YOUR email address."
    },
    {
      "parameters": {
        "fromEmail": "hello@luxe.local",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.autoReplySubject }}",
        "html": "={{ $json.autoReplyHtml }}",
        "options": {}
      },
      "id": "email-auto-reply",
      "name": "Auto-Reply to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [690, 420],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Your SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Contact Form)": {
      "main": [
        [
          {
            "node": "Build Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Emails": {
      "main": [
        [
          {
            "node": "Email to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-Reply to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LUXE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-02T00:00:00.000Z",
  "versionId": "1"
}