n8n-workflows/4-low-stock-alert.json
{
  "name": "LUXE - Low Stock Alert (Scheduled)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Runs every 6 hours. Change interval as needed."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://luxe-ruby-delta.vercel.app/api/webhooks/low-stock?threshold=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "=YOUR_N8N_WEBHOOK_SECRET"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Fetch Low Stock Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "notes": "Replace YOUR_N8N_WEBHOOK_SECRET with your actual secret, or remove the header if not using auth."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt",
                "name": "filter.operator.gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-low-stock",
      "name": "Has Low Stock Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst products = response.products || [];\n\nconst productLines = products\n  .map(p => `  - ${p.name} — ${p.stock} left ($${p.price}) ${p.tag ? '[' + p.tag + ']' : ''}`)\n  .join('\\n');\n\nconst adminHtml = `<!DOCTYPE html>\n<html><body style=\"margin:0;padding:0;background:#fafaf8;font-family:'Inter',-apple-system,sans-serif;color:#0a0a0a;\">\n  <div style=\"max-width:560px;margin:0 auto;padding:32px 20px;\">\n    <div style=\"font-size:24px;font-weight:600;margin-bottom:24px;\">LUXE<span style=\"color:#b9e30f;\">.</span> Admin</div>\n    \n    <div style=\"background:#ffebee;color:#c62828;padding:16px 20px;border-radius:8px;margin-bottom:24px;\">\n      <div style=\"font-family:monospace;font-size:11px;letter-spacing:0.06em;text-transform:uppercase;\">LOW STOCK ALERT</div>\n      <div style=\"font-size:16px;font-weight:600;margin-top:4px;\">${response.count} product(s) at or below threshold</div>\n    </div>\n\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:24px;\">\n      <thead><tr style=\"font-family:monospace;font-size:11px;letter-spacing:0.06em;text-transform:uppercase;color:#2b2b28;\"><th style=\"text-align:left;padding:8px 0;border-bottom:2px solid #0a0a0a;\">Product</th><th style=\"text-align:center;padding:8px 0;border-bottom:2px solid #0a0a0a;\">Stock</th><th style=\"text-align:right;padding:8px 0;border-bottom:2px solid #0a0a0a;\">Price</th></tr></thead>\n      <tbody>${products.map(p => `<tr style=\"border-bottom:1px solid #eee;\"><td style=\"padding:8px 0;\">${p.name} ${p.tag ? '<span style=\"background:#f3f1ea;padding:2px 8px;border-radius:100px;font-size:10px;margin-left:8px;\">' + p.tag + '</span>' : ''}</td><td style=\"text-align:center;font-weight:bold;color:${p.stock === 0 ? '#c62828' : '#e65100'};\">${p.stock}</td><td style=\"text-align:right;font-family:monospace;\">$${p.price.toFixed(2)}</td></tr>`).join('')}</tbody>\n    </table>\n\n    <a href=\"https://luxe-ruby-delta.vercel.app/admin/products\" style=\"display:inline-block;background:#0a0a0a;color:#fafaf8;padding:12px 24px;border-radius:100px;text-decoration:none;\">Manage Products in Admin →</a>\n    \n    <p style=\"margin-top:16px;font-size:12px;color:#2b2b28;\">Checked at: ${response.checkedAt}</p>\n  </div>\n</body></html>`;\n\nconst text = `\\n⚠️ *LOW STOCK ALERT*\\n━━━━━━━━━━━━━━━━━━━━\\n\\n${response.count} product(s) at or below threshold:\\n\\n${productLines}\\n\\n🔗 Manage: https://luxe-ruby-delta.vercel.app/admin/products\\n⏰ Checked: ${response.checkedAt}\\n`;\n\nreturn [{ json: { adminHtml, text, count: response.count } }];"
      },
      "id": "build-alert",
      "name": "Build Alert Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "fromEmail": "stock@luxe.local",
        "toEmail": "admin@luxe.local",
        "subject": "=⚠️ Low Stock Alert - {{ $json.count }} product(s)",
        "html": "={{ $json.adminHtml }}",
        "options": {}
      },
      "id": "email-alert",
      "name": "Email Alert to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 200],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Your SMTP"
        }
      },
      "notes": "Change 'admin@luxe.local' to YOUR email."
    },
    {
      "parameters": {
        "account": "YOUR_DISCORD_WEBHOOK_URL",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "discord-alert",
      "name": "Discord Alert (Optional)",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1130, 420],
      "typeOptions": { "allowExternalAuth": true },
      "notes": "OPTIONAL: Delete if not using Discord."
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Low Stock Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Low Stock Products": {
      "main": [
        [
          {
            "node": "Has Low Stock Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Low Stock Items?": {
      "main": [
        [
          {
            "node": "Build Alert Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Alert Content": {
      "main": [
        [
          {
            "node": "Email Alert to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Alert (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LUXE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-02T00:00:00.000Z",
  "versionId": "1"
}